@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    color: #000000;
}

.color1 {
    background-color: #FA4753;
}

.color2 {
    background-color: #17181c;
}

.color3 {
    background-color: #ffffff;
}

.color4 {
    background-color: #9ba5c9;
}